*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.app-title{
    text-align: center;
    text-transform: uppercase;
    background-color: #ff3693;
    padding: 32px 0px;
    color:#ffffff;
}
.input-wrapper{
    font-size:19.2 px;
    width:200px;
    position:relative;
    margin:auto;
    display:flex;
}